*.pyc
sbatch/
*.sh
venv/
data.json
same_author.png
custom_iv3.py
results
check_avail.py
my_chat_id.py
*.pkl
*.pth
*.csv
images/
.vscode/
find_the_perfect_author.py
make_samples_html.py
compute_hwd.py
compute_metric.py
compute_score.py
debug_datasets.py
example.py
dist
hwd.egg-info
tests
build